/*html practice2*/

*{

	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
	width: 100%;
}

h1{
	text-align: center;
	margin-top: 25px;

}

.cards{
	display: inline-flex;
	margin: 50px;
	text-align: center;

}

.box{
	width: 350px;
	box-shadow: ;
	height: 400px;
    margin: 0px 40px 0px 40px;
   /* border: solid black 2px;*/
    border-radius: 5%;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
	border-radius: 50%;
	margin: 30px auto;
	height: 80px;
	width: 80px;

}


p{

	margin: 20px 20px;
}

hr{
	width: 80%;
	margin: auto;
}

h3{
	margin: 20px auto 0px;

}

h4{
	color: grey;
}