*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main{
	align-content: center;
	margin: 50px 0px 0px 500px;

}


input[type="text"]{
    width:50%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 10px;
    margin: 10px;

}

img{

	width:50%;
    padding: 12px;
    margin: 10px;
}

input[type="submit"]{
	background-color: violet;
	padding: 12px;
    border:1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
   
}
